.home-container {
  margin-top: 70px;
  height: calc(100vh - 70px);
  text-align: center;
}

.post-section {
  text-align: left;
  margin: 20px auto;
  width: 40%; /* Adjust width as needed */
}

.post-title {
  text-align: center;
}

.read-more {
  display: block;
  text-align: center;
}
