section {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  gap: 32px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 32px;
}

h3 {
  font-size: 24px;
}

#registerForm {
  display: flex;
  flex-direction: column;
  width: 300px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 2px solid #000000;
  box-sizing: border-box;
}

#confirm_password {
  margin-bottom: 24px;
}

#login {
  width: 100%;
}
